.TodoApp {
    background: repeating-linear-gradient(left, #0033cc 10%, #000066 20%, #0033cc 30%);
    background: -webkit-repeating-linear-gradient(left, #0033cc 10%, #000066 20%, #0033cc 30%);
    color: #FFF;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

